header nav ul {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

header li {
  list-style: none;
}

header a {
  text-decoration: none;
}

header nav img {
  width: 50px;
  height: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 9999;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.753) !important;
}

.contact-zone::before {
  content: "";
  position: absolute;
  left: -30px; /* qué tanto se mete */
  top: 0;
  width: 0;
  height: 0;
  border-top: 35px solid transparent; /* mitad superior */
  border-bottom: 35px solid transparent; /* mitad inferior */
  border-right: 30px solid #CBA342; /* color del triángulo */
}

header nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  margin-left: 5%;
  width: 75%;
}

.contact-zone {
  background-color: #CBA342;
  height: 70px;
  display: flex;
  border: 0px !important;
  align-items: center;
  justify-content: center;
  padding: 0 5% 0 2%;
}
.contact-zone a {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 15px;
  text-decoration: none;
}
.contact-zone {
  border: 1px solid white;
}
.Down-menu {
  display: none;
}
.background-MenuR {
  display: none;
}
.icon-Menu-Res {
  display: none;
  fill: white;
}
.MENU-responsive {
  display: none;
}

@media (max-width: 1589px) {
  .ed-rasc {
    opacity: 30%;
  }
}

@media (max-width: 851px) {
  .icon-Menu-Res {
    display: block;
    z-index: 467;
    position: relative;
    cursor: pointer;
  }
  nav ul, .contact-zone a{
    display: none !important;
  }
  .Down-menu {
    display: block;
  }
  .containerMenu {
    align-items: center;
  }
  .Top-menu {
    z-index: 333;
  }
  .logo-header {
    padding: 0;
    z-index: 2222;
  }
  .background-MenuR {
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #CBA342;
    top: -2000px;
    transition: top 1s;
  }
  .top-menu {
    top: 0px !important;
  }
  .MENU-responsive {
    display: flex !important;
    flex-direction: column !important;
    z-index: 40;
    position: fixed;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 20px;
    width: 100%;
    margin: 0 !important;
    height: 100%;
  }
  .containerMenu {
    margin: 16px 0px 16px 0px;
  }
  .list-headerMenu * {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 34px;
  }
}
