.Container-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-image: url(../../assets/Bar-background.png);
  margin-top: 5%;
}

.centBar {
  width: 90%;
}
.section-bar {
  text-align: center;
  width: 33.3%;
  border-left: 1px solid white;
}

.section-bar h3,
.section-bar p {
  color: white;
}

.section-bar h3 {
  font-size: 36px;
  margin-bottom: 0;
  font-family: "Bebas Neue", sans-serif;
}

.section-bar p {
  margin-top: 1px;
  font-size: 24px;
  font-family: "Bebas Neue", sans-serif;
}

@media (max-width: 530px) {
  .Container-bar {
    flex-direction: column !important;
  }
  .section-bar {
    width: 100%;
    border-left: 0;
    border-bottom: 1px solid white;
  }
}
