.buttons-bann {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
h1 {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Khand";
  font-weight: bolder;
  font-size: 68px;
  width: 80%;
  margin: 0px;
  line-height: 0.9em;
}
.banner-t {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  overflow: hidden; 
}
.bann-container {
  width: 100%;
  height: 100%;
  background: #ffffff;
  transition: clip-path 2s;
  height: 950px;
  clip-path: polygon(0 0, 60% 0, 55% 100%, 0% 100%);
  border-bottom: 1px solid #39c15c;
}
.texts-Bann {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 7%;
  position: relative;
  z-index: 2;
}
.texts-Bann p {
  font-family: "inter";
  width: 85%;
}
.banner-t {
  background-image: url(../../../../assets/bannEdif.webp) !important;
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.ed-rasc {
  position: absolute;
  right: 34%;
  top: 105px;
}
.texts-Bann p{
  font-size: 20px;
}
@media (max-width: 1432px) {
  .ed-rasc {
    opacity: 30% !important;
  }
}
@media (max-width: 803px) {
  .bann-container {
    clip-path: none;
  }
  .banner-t h1 {
    width: 100%;
  }
  .ed-rasc {
    right: 0%;
  }
  .texts-Bann {
    width: 85%;
  }
}
@media (max-width: 431px) {
  .buttons-bann {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  .btn-Color,
  .btn-Border {
    width: 100% !important;
  }
}
